@{
    ViewData["Title"] = "Sales";
}

<header class="text-center mb-5">
    <h4 class="display-4">Ventas</h4>
</header>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Dinero Recibido</th>
            <th>Cambio</th>
            <th style="width: 12%">Actions</th>
        </tr>
        </thead>
        <tbody id="cartBody">
        @foreach (var sale in Model)
        {
            <tr>
                <td>@sale.Date</td>
                <td>@sale.Client</td>
                <td>@sale.Total.ToString("C")</td>
                <td>@sale.CashReceived.ToString("C")</td>
                <td>@sale.Change.ToString("C")</td>
                <td>
                    <!-- mostrar detalles -->
                    <a asp-action="Details" asp-controller="Sale" asp-route-id="@sale.Id" class="btn btn-primary m-1">
                        <i class="fa fa-eye"></i> Details
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>